<ion-header [translucent]="true" class="header">
  <ion-toolbar color="var(--ion-color-dark)">
    <ion-grid>
      <ion-row>
        <ion-col size="11">
          <ion-title class=".ion-text-left white">Home</ion-title>
        </ion-col>
        <ion-col size="1">
          <ion-icon class="white" name="filter"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngFor="let post of posts">
    <ion-row>
      <ion-col size="11">
        <h4>{{post.subject}}</h4>
      </ion-col>
      <ion-col size="1">
        <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{post.content}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <small>{{post.date}}</small>

    </ion-row>
  </ion-grid>
</ion-content>
